<h1>New quay</h1>

<%= error_messages_for :quay %>

<% form_for(@quay) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Contenttype</b><br />
    <%= f.text_field :contenttype %>
  </p>

  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', quays_path %>
