<h1>New content</h1>

<%= error_messages_for :content %>

<% form_for(@content) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Author</b><br />
    <%= f.text_field :author_id %>
  </p>

  <p>
    <b>Editor</b><br />
    <%= f.text_field :editor_id %>
  </p>

  <p>
    <b>Quay</b><br />
    <%= f.text_field :quay_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', contents_path %>
