<h1>Editing user</h1>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>
  <p>
    <b>Username</b><br />
    <%= f.text_field :username %>
  </p>

  <p>
    <b>Realname</b><br />
    <%= f.text_field :realname %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Roles</b>
    <ul>
    <% for @role in Role.find(:all) %>
      <%= check_box("role[]", "", {:checked => @user.roles.include?(@role)}) %>
      <%= @role.name %><br>
    <% end %>
    </ul>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
