<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Realname:</b>
  <%=h @user.realname %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Roles:</b><ul>
  <% for role in @user.roles %>
    <li><%= role.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
